<%- include('head.ejs') %>

<body class="bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-auto">
        <div class="card m-2">
          <div class="card-top p-4">
            <div class="row justify-content-center">
              <div class="col-auto">
                <img src="./images/nasa_logo.jpg" class="img-fluid" alt="not a space agency">
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-auto pt-4">
                <h4>Welcome to NASA - Not A Space Agency</h4>
              </div>
            </div>
          </div>

          <div class="card-body">
            <div style="text-align: center;" class="mb-4">
              <h4>Please Register</h4>
              <h6 class="text-danger"><% if (typeof title !== 'undefined') { %><%= title %><% } %></h6>
            </div>

            <form id="register" action="/register" method="post">
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" placeholder="Email address" name="email"
                       value="<% if (typeof email !== 'undefined') { %><%= email %><% } %>">
                <label for="email">Email address</label>
                <div class="invalid-feedback">please insert correct email</div>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="firstName" placeholder="First Name" name="firstName"
                       value="<% if (typeof firstName !== 'undefined') { %><%= firstName %><% } %>">
                <label for="firstName">First Name</label>
                <div class="invalid-feedback">Letters and digits only, 3-24 characters.</div>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="lastName" placeholder="Last Name" name="lastName"
                       value="<% if (typeof lastName !== 'undefined') { %><%= lastName %><% } %>">
                <label for="lastName">Last Name</label>
                <div class="invalid-feedback">Letters and digits only, 3-24 characters.</div>
              </div>
              <div class="d-grid mb-3">
                <button class="btn btn-primary" type="submit" id="registerButton">Next</button>
              </div>
              <div class="row justify-content-center">
                <div class="col-auto">
                  <p>already registered? go to <a href="./">login</a> page</p>
                </div>
              </div>

            </form>

          </div>

        </div>
      </div>

    </div>

  </div>


<script src="/javascripts/register.js"></script>
</body>
</html>